In [1]:
import pandas as pd

In [2]:
bank_data = pd.read_csv('datasets/bank_data_processed.csv')

bank_data.head()

,Age,Income,Family,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,34,180,1,3,0,0,0,0,0
1,38,130,4,3,134,0,0,0,0
2,46,193,2,3,0,0,0,0,0
3,38,119,1,2,0,0,1,1,1
4,42,141,3,3,0,1,1,1,0

In [3]:
X = bank_data.drop('CreditCard', axis=1)

Y = bank_data['CreditCard']

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

### AdaBoostClassifier
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostClassifier.html

In [5]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

Here we use the SAMME algorithm (Stagewise Additive Modeling) using a Multi-class Exponential loss function

In [6]:
ada_clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), 
                             n_estimators=100, 
                             algorithm='SAMME', 
                             learning_rate=1.0)

ada_clf.fit(x_train, y_train)

AdaBoostClassifier(algorithm='SAMME',
                   base_estimator=DecisionTreeClassifier(max_depth=1),
                   n_estimators=100)

In [7]:
ada_clf.estimator_weights_

array([1.39936644, 0.88344637, 0.51370774, 0.41016532, 0.66120513,
       0.35510522, 0.37612434, 0.24732756, 0.2510632 , 0.43020892,
       0.30941969, 0.11972131, 0.16537056, 0.2951844 , 0.15982494,
       0.22387885, 0.26414304, 0.18382943, 0.20102682, 0.04076251,
       0.02988195, 0.02944203, 0.0914942 , 0.08430891, 0.02749385,
       0.02712099, 0.02675812, 0.02703474, 0.02667416, 0.02641435,
       0.02607002, 0.02633213, 0.02598992, 0.02574336, 0.02541619,
       0.0256649 , 0.1604313 , 0.16957595, 0.17338383, 0.14435763,
       0.07104094, 0.02579276, 0.02546435, 0.02514419, 0.02483198,
       0.02456541, 0.02426732, 0.02453475, 0.0242374 , 0.02398352,
       0.02369931, 0.02395399, 0.08014684, 0.07493362, 0.02343673,
       0.02404404, 0.0237584 , 0.02347947, 0.02320702, 0.02341836,
       0.02314731, 0.02318447, 0.02291878, 0.02295313, 0.02269268,
       0.02289451, 0.02263539, 0.02267089, 0.02241677, 0.0224496 ,
       0.0222004 , 0.02239333, 0.02214537, 0.02217932, 0.02193604,
       0.02196745, 0.02172878, 0.02191339, 0.02167589, 0.02170838,
       0.02147528, 0.02150536, 0.02127657, 0.02145338, 0.02122569,
       0.02125683, 0.02103327, 0.0210621 , 0.0208426 , 0.02101209,
       0.02079363, 0.02082348, 0.07181881, 0.06766492, 0.0206769 ,
       0.02117648, 0.0209546 , 0.02073732, 0.0205245 , 0.02057462])

In [8]:
y_pred = ada_clf.predict(x_test)

In [9]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.8229166666666666

Here we are using SAMME.R which relies on class probabilities.

In [10]:
ada_clf = AdaBoostClassifier(DecisionTreeClassifier(max_depth=1), 
                             n_estimators=100, 
                             algorithm='SAMME.R', 
                             learning_rate=0.5)

ada_clf.fit(x_train, y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=1),
                   learning_rate=0.5, n_estimators=100)

In [11]:
y_pred = ada_clf.predict(x_test)

accuracy_score(y_test, y_pred)

0.8229166666666666